<p id="notice"><%= notice %></p>

<p>
  <strong>Trade date:</strong>
  <%= @salesman_day_tradetotal.trade_date %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @salesman_day_tradetotal.total_amount %>
</p>

<p>
  <strong>Total count:</strong>
  <%= @salesman_day_tradetotal.total_count %>
</p>

<p>
  <strong>Wechat amount:</strong>
  <%= @salesman_day_tradetotal.wechat_amount %>
</p>

<p>
  <strong>Wechat count:</strong>
  <%= @salesman_day_tradetotal.wechat_count %>
</p>

<p>
  <strong>Alipay amount:</strong>
  <%= @salesman_day_tradetotal.alipay_amount %>
</p>

<p>
  <strong>Alipay count:</strong>
  <%= @salesman_day_tradetotal.alipay_count %>
</p>

<p>
  <strong>T0 amount:</strong>
  <%= @salesman_day_tradetotal.t0_amount %>
</p>

<p>
  <strong>T0 count:</strong>
  <%= @salesman_day_tradetotal.t0_count %>
</p>

<p>
  <strong>T1 amount:</strong>
  <%= @salesman_day_tradetotal.t1_amount %>
</p>

<p>
  <strong>T1 count:</strong>
  <%= @salesman_day_tradetotal.t1_count %>
</p>

<p>
  <strong>Expected amount:</strong>
  <%= @salesman_day_tradetotal.expected_amount %>
</p>

<p>
  <strong>Actual amount:</strong>
  <%= @salesman_day_tradetotal.actual_amount %>
</p>

<p>
  <strong>Diff amount:</strong>
  <%= @salesman_day_tradetotal.diff_amount %>
</p>

<p>
  <strong>Diff total amount:</strong>
  <%= @salesman_day_tradetotal.diff_total_amount %>
</p>

<%= link_to 'Edit', edit_salesman_day_tradetotal_path(@salesman_day_tradetotal) %> |
<%= link_to 'Back', salesman_day_tradetotals_path %>
